<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ramses</title>
    <link href="@Url.Content("~/Content/alertify.default.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/alertify.core.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/alertify.bootstrap.css")" rel="stylesheet" type="text/css" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Ramses", "Index", "Home", null, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Deputados", "Index", "Deputado", null, new { @class = "navbar-brand" })</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    <script src="@Url.Content("~/Scripts/alertify.min.js")"></script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)


    <!-- start: Message Center -->
    <script>
        $(function () {
            // alert dialog
            if ("@ViewBag.AlertMessage" != null && "@ViewBag.AlertMessage" != "") {
                alertify.alert("@ViewBag.AlertMessage");
            }

            if ("@ViewBag.ErrorMessage" != null && "@ViewBag.ErrorMessage" != "") {
                alertify.error("@ViewBag.ErrorMessage");
            }
            if ("@ViewBag.SuccessMessage" != null && "@ViewBag.SuccessMessage" != "") {
                alertify.success("@ViewBag.SuccessMessage");
            }
        });
    </script>
    <!-- end: Message Center -->
</body>
</html>
