<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ramses</title>
    @Styles.Render("~/Alertify/css")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @RenderSection("css", required: false)
    <script src="~/Scripts/Highcharts-4.0.1/js/highcharts.js"></script>
    <script src="~/Scripts/Highcharts-4.0.1/js/modules/exporting.js"></script>
    <script src="~/Scripts/jquery-ui-1.10.4.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#tabs').tabs();
        });
</script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Ramses", "Index", "Home", null, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Deputados", "Index", "Deputado", null, new { @class = "navbar-brand" })</li>
                    <li>@Html.ActionLink("Cota Parlamentar", "Index", "CotaParlamentar", null, new { @class = "navbar-brand" })</li>
                     <li>@Html.ActionLink(Resources.Literals.lbl_analysis,"Index","Analysis", null, new { @class = "navbar-brand" })</li>
                    @*<li>@Html.ActionLink("Exemplo gráfico","Index","ChartExample", null, new { @class = "navbar-brand" })</li>*@
                </ul>
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Ramses</p>
        </footer>
    </div>
    @Scripts.Render("~/bundles/alertify")    
 
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <!-- start: Message Center -->
    <script>
        $(function () {
            // alert dialog
            if ("@ViewBag.AlertMessage" != null && "@ViewBag.AlertMessage" != "") {
                alertify.alert("@ViewBag.AlertMessage");
            }

            if ("@ViewBag.ErrorMessage" != null && "@ViewBag.ErrorMessage" != "") {
                alertify.error("@ViewBag.ErrorMessage");
            }
            if ("@ViewBag.SuccessMessage" != null && "@ViewBag.SuccessMessage" != "") {
                alertify.success("@ViewBag.SuccessMessage");
            }
        });
    </script>
    <!-- end: Message Center -->
    
    <!-- Resources for JS -->
    <script type="text/javascript">
        $(function () {
            //Vars para uso no cod do arquivo .js
            btn_yes = "@Html.Raw(Resources.Literals.btn_yes)";
            btn_no = "@Html.Raw(Resources.Literals.btn_no)";
            btn_exit = "@Html.Raw(Resources.Literals.btn_exit)";
            btn_delete = "@Html.Raw(Resources.Literals.btn_delete)";
            btn_cancel = "@Html.Raw(Resources.Literals.btn_cancel)";
            lbl_value = '@Html.Raw(Resources.Literals.lbl_value)';
            lbl_all = '@Html.Raw(Resources.Literals.lbl_all)';
            lbl_sum = '@Html.Raw(Resources.Literals.lbl_sum)';
            lbl_another_fields = '@Html.Raw(Resources.Literals.lbl_another_fields)';
        });
    </script>
    <!-- /resources for JS -->
</body>
</html>
